<div class="col-md-6 col-md-offset-2" >

  <div class="content1  signIn  ivth-content"> 
          <h3>Sign Up </h3>
    
          <form name="form" (ngSubmit)="f.form.valid && signUp()" #f="ngForm" novalidate>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
                      <input type="password" class="form-control" placeholder="confirmpassword" name="confirmpassword" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required />
                      <div *ngIf="f.submitted && !confirmpassword.valid" class="help-block">Password is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                      <input type="email" class="form-control" placeholder="email" name="email" [(ngModel)]="model.email" #email="ngModel" required email/>
                      <div *ngIf="f.submitted && !email.valid" class="help-block">Valid Email ID is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !skillSet.valid }">
                      <input type="text" class="form-control" placeholder="Primary Skill Set" name="skillSet" [(ngModel)]="model.skillSet" #skillSet="ngModel" required />
                      <div *ngIf="f.submitted && !skillSet.valid" class="help-block">Password is required</div>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary">Login</button>
              </div>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </div>
</div>

