<form (ngSubmit)="dataSubmit()">
    <div style="width:80%; padding-left:15px;">
        <div class="form-group">
            <input type="text" autocomplete="off" name="title" [(ngModel)]="title" id="" placeholder="Enter Title" class="input-sm">
        </div>
        <br>
        <div class="form-group">
            <textarea rows="4" name="description" [(ngModel)]="description" [froalaEditor]></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>