<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 align="center">Admin Approval</h5>
    </div>
    <div  class="panel panel-primary">

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <!-- grid start -->
          <table class="table table-striped" [mfData]="dataObj" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th style="width: 20%">
                      <mfDefaultSorter by="Title">CheckBox</mfDefaultSorter>
                  </th>
                  <th style="width: 20%">
                    <mfDefaultSorter by="Title">Title</mfDefaultSorter>
                  </th>
                  <th style="width: 40%">
                    <mfDefaultSorter by="Tags">Tags</mfDefaultSorter>
                  </th>
                  <th style="width: 10%">
                    <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                  </th>
                  <th style="width: 20%">
                    <mfDefaultSorter [by]="Preview">Preview</mfDefaultSorter>
                  </th>
                  <th style="width: 10%"></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data">
                  <td><input type="checkbox" name="sel" id="chk"/></td>
                  <td>{{item.Title}}</td>
                  <td>{{item.Tags}}</td>
                  <td>{{item.Description}}</td>
                  <td>{{item.Preview}}</td>
                  <td>
                      <button (click)="remove(item)" class="btn btn-danger">x</button>
                    </td>
                </tr>
              </tbody>
               </table>
           <!-- Grid End -->
      </div>
    </div>
  </div>
</div>
</div>
    
   
<button type="button" class="btn btn-primary" (click)="Approve();">Approve</button>
<button type="button" class="btn btn-primary" (click)="Reject();">Reject</button>
   
   
    
 

