<div class="col-md-12 margin-top">
  <section>
    <div class="content ">
      <div class="primary-button card-deck mb-3 text-center">
        <!-- grid start -->
        <table class="table table-striped" [mfData]="dataObj" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
          [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th style="width: 20%">
                <mfDefaultSorter by="ideaTitle">IDEA</mfDefaultSorter>
              </th>
              <th style="width: 40%">
                <mfDefaultSorter by="ideaDes">IDEA DESCRIPTION</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="owner">OWNER</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                <mfDefaultSorter by="action">ACTION</mfDefaultSorter>
              </th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data">
              <td>{{item.ideaTitle}}</td>
              <td>
                <a href="#" (click)="showPreview(item)">{{item.ideaDes}}</a>
              </td>
              <td>{{item.owner}}</td>
              <td>
                <label class="switch">
                  <input type="checkbox" [checked]="item.approval === 'yes' ? 'checked': 'unchecked'">
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Grid End -->
      </div>
    </div>
  </section>
</div>