<div class="col-md-12 margin-top">
  <section>
    <div class="content ">
      <div class="primary-button card-deck mb-3 text-center">

        <table class="table table-bordered">
          <thead class="tble-hd" style="background-color: 1px solid #66b0de">
            <tr>
              <th>Idea</th>
              <th>Team</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-ideas">IdeaA</td>
              <td class="td-ideas">TeamA</td>
              <td class="td-ideas">Hello</td>
              <td class="td-ideas">
                pending
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  </section>
  </div>